---
layout: archive
---

<div class="main_top">

    <div id="top_nav_bar">
      <a href="/"><img src="/assets/images/home.png" alt="Home" class="logo"></a>
    </div>
  
    <div class="description">
      <h1 class="wave_welcome">Welcome to my Blog</h1>
      <!-- <p>From hardware to software,</p> -->
      <!-- <p>I'm <span class="emp_word">System Engineer</span></p> -->
    </div>
    
</div>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
